html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
  margin: 1em;
}

.new {
  margin-bottom: 2em;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  padding: .75em;
  border-radius: 8px;
  background-color: grey;
  border-width: 3px;
}

.btn {
  background-color: #333;
}

.btn-subtle {
  background-color: #ccc;
}

.btn-ghost {
  background-color: #fff;
  color: #000;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
}

.btn-warning {
  background-color: #f33;
}

.btn-small {
  padding: .5em;
}

.btn-big {
  padding: 1em;
}

.btn-ghost:hover {
  background-color: #666;
  color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #666;
}

.btn-subtle:hover {
  background-color: #666;
}
.btn-warning:hover {
  background-color: #933;
}
.btn:hover {
  background-color: #000;
}
